.veinticinco{
    flex: 1;
    /*background-color: rgba(0, 0, 0, 0.323);*/
    height: 120px;
    border-radius: 10px;
}
.align-items-cen{
    align-items: center;
}
.ml{
    margin-left: 2px;

}
.im1{
    display: inline-block;
    width: 60px;
    height: auto;
    margin-top: 0px;
}
.disgrid{
    display: grid;
}
.im2{
    margin-top: 0px;
}
.sizeimg{
    width: 150px;
    height: 55px;
}
.sizeimgeco{
    width: 110px;
}
.width-100{
    width: 100%;
}
@media screen and (max-width: 720px){
    .unico{
        max-width: 100%;
        margin-top: -60%;
        margin-bottom: -67%;
    }
}
.pen-im{
    width: 60% !important;
    position: relative;
    left: -67px;
}
.martop{
    margin-top: 10px;
}
.shwvideo{
    box-shadow: 0px 40px 100px gray;
}
.shwvideoleft{
    box-shadow: 0px 40px 80px gray;
}
.width118{
    width: 118%;
}
.forma1-2{
    transform: scaleX(1.09);
}
.sombras {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  